<div class="py-5 bg-transparent text-center w-100">
  <div editable="rich">
    <p class="lead">[Making your Life Easier!]</p>
  </div>
  <h1 editable="inline" class="display-4">Discovering the World!</h1>

  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-xs-6"
        *ngFor="let location of locations; let i = index"
      >
        <div class="card ratio ratio-4x3 bg-dark text-white img-fluid">
          <img
            class="card-img"
            style="object-fit: fill; filter: brightness(40%)"
            src="{{ location.url }}"
            alt="Card image"
          />
          <div
            class="card-img-overlay d-flex flex-column flex-align-end text-start"
          >
            <h5 class="card-text text-truncate flex-grow-1">
              {{ location.title }}
            </h5>
            <div class="card-text">{{ location.category }}</div>
            <div class="card-text text-truncate">{{ location.description }}</div>
            <div class="card-footer text-end">
              <button class="btn btn-primary mx-1" title="Edit location">
                <i class="bi bi-pencil"></i>
              </button>

              <button class="btn btn-danger mx-1" title="Delete location">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <img class="" />
      </div>
    </div>
  </div>
</div>
